$outline-grey: #E5E7EB;
$outline-blue: #3B82F6;
$outline-primary:#60A5FA;
$outline-red: #DC2626;
$outlineRed: #DC2626;
$outline-black: #1F2937;
$outline-black-lightning: #6B7280;

$text-blue:#3B82F6;
$text-red:#DC2626;
$text-green: #65A30D;
$text-disabled: #9CA3AF;


$bg-grey: #F3F4F6;
$bg-grey-dark: #DBEAFE;
$bg-blue: #1E40AF;
$bg-disabled: #9CA3AF;
$bg-grey-lightning: #F3F4F6;

// 外框顏色
.border-disabled {
    border-color: $bg-grey
}

// 文字顏色
.text-disabled {
    color: $text-disabled;
}
.text-error {
    color:$text-red;
}
.text-success {
    color:$text-green;
}

.text-blue {
    color:$text-blue;
}

// 背景顏色
.bg-disabled {
    background: $bg-grey;
}

//文字排版
.text-left{
    text-align:left;
}

.text-center{
    text-align:center;
}

.text-right{
    text-align:right;
}

// icon顏色
.icon--fail {
    fill: $outline-red;
}
.icon-success{
    fill: $text-green;
}
.icon-disabled {
    fill: $text-disabled;
}
