<template>
    <div class="link_text">
        <el-button
            class="button"
            :class="buttonSize"
            :disabled="disabled"
            link
        >

            <div v-if="slots.left" class="icon icon-left">
                <slot name="left"></slot>
            </div>

            {{ title }}

            <div v-if="slots.right" class="icon icon-right">
                <slot name="right"></slot>
            </div>

        </el-button>
    </div>
</template>
<script setup>
    import { useSlots } from 'vue';
    const props = defineProps({
            title:String,
            buttonSize: String,
            disabled: Boolean,
        });
    const slots = useSlots();
</script>
<style lang="scss" scoped>
    .link_text {
        display:inline-block;
        
        .button {
            font-size:14px;
            border-bottom: 1px solid $outline-black-lightning !important;
            border-radius:0px;

            &:not(.is-disabled) {
               
                &:hover {
                    background: $bg-grey-lightning;
                }
            }
        }
        :deep(.is-disabled){
            @extend .text-disabled;
        }

        .icon{
            fill: white;
            &-left,
            &-right {
                width: 20px;
                height: 20px;
            }
            &-left {
                margin-right: 16px;
            }
            &-right {
                margin-left: 16px;
            }
            
            :deep(svg){
                width: 20px;
                height: 20px;
            }
        }
        :deep(.large) {
            font-size: 16px;
            .icon{
                &-left,
                &-right {
                    width: 24px;
                    height: 24px;
                }
                &-left {
                    margin-right: 12px;
                }
                &-right {
                    margin-left: 12px;
                }

                svg{
                    width: 24px;
                    height: 24px;
                }
            }
        }
        :deep(.small) {
            font-size: 12px !important;
            .icon{
                &-left,
                &-right {
                    width: 14px;
                    height: 17px;
                }
                &-left {
                    margin-right: 12px;
                }
                &-right {
                    margin-left: 12px;
                }

                svg{
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }

</style>