<template>
    <div class="outline_circle">
        <el-button
            class="button"
            :class="buttonSize"
            :disabled="disabled"
            circle
        >
            <div v-if="slots.icon" class="icon">
                <slot name="icon"></slot>
            </div>
        </el-button>
    </div>
</template>
<script setup>
    import { useSlots } from 'vue';
    const props = defineProps({
            buttonSize: String,
            disabled: Boolean,
        });
    const slots = useSlots();
</script>
<style lang="scss" scoped>
    .outline_circle {
        display:inline-block;
        .button{
            width:36px;
            height: 36px;

            &:not(.is-disabled) {
            color: $bg-blue;
            border-color: $bg-blue;
            background:white;
         
            &:hover,
            &:active,
            &:focus {
                border-color: $bg-grey-dark;
            }
            &:hover {
                border-color: $outline-blue;
            }
            &:focus {
                border-color: $outline-blue;
                box-shadow: 0px 0px 0px 2px #DBEAFE;;
            }
        }
    }
        :deep(.is-disabled),
        :deep(.is-disabled):hover{
            @extend .border-disabled, .text-disabled ;
            svg {
                @extend .icon-disabled;
            }
        }

        .icon{
            fill: white;
            
            :deep(svg){
                width: 20px;
                height: 20px;
            }
        }
        :deep(.large) {
            width: 40px !important;
            height: 40px !important;

            .icon{
                svg{
                    width: 24px;
                    height: 24px;
                }
            }
        }
        :deep(.small) {
            width: 24px !important;
            height: 24px !important;

            .icon{
                svg{
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }

</style>