<template>
    <div class="secondary_circle">
        <el-button
            class="button"
            :class="buttonSize"
            :disabled="disabled"
            circle
        >
            <div v-if="slots.icon" class="icon">
                <slot name="icon"></slot>
            </div>
        </el-button>
    </div>
</template>
<script setup>
    import { useSlots } from 'vue';
    const props = defineProps({
            buttonSize: String,
            disabled: Boolean,
        });
    const slots = useSlots();
</script>
<style lang="scss" scoped>
    .secondary_circle {
        display:inline-block;
        .button{
            width:36px;
            height: 36px;
            
            &:not(.is-disabled) {
                color: white;
                border-color: $bg-grey-dark;
                background:$bg-disabled;

                &:hover,
                &:active,
                &:focus {
                    border-color: $bg-grey-dark;
                }
                &:hover {
                    box-shadow: 0 0 10px 1px rgba(0,0,0, .12);
                }
                &:focus {
                    border: solid 1px white;
                    box-shadow: 0px 0px 0px 2px $outline-primary;
                }
            }
        }

        :deep(.is-disabled),
        :deep(.is-disabled):hover{
            @extend .bg-disabled, .border-disabled, .text-disabled;
            svg {
                @extend .icon-disabled;
            }
        }

        .icon{
            fill: white;
            :deep(svg){
                width: 20px;
                height: 20px;
            }
        }

        :deep(.large) {
            width: 40px !important;
            height: 40px !important;

            .icon{
                svg{
                    width: 24px;
                    height: 24px;
                }
            }
        }
        :deep(.small) {
            width: 24px !important;
            height: 24px !important;

            .icon{
                svg{
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }

</style>