<template>
    <div class="secondary_text">
        <el-button
            class="button"
            :class="buttonSize"
            :disabled="disabled"
        >

            <div v-if="slots.left" class="icon icon-left">
                <slot name="left"></slot>
            </div>

            {{ title }}

            <div v-if="slots.right" class="icon icon-right">
                <slot name="right"></slot>
            </div>
        </el-button>
    </div>
</template>
<script setup>
    import { useSlots } from 'vue';
    const props = defineProps({
            buttonSize: String,
            disabled: Boolean,
            title: String,
        });
    const slots = useSlots();
</script>
<style lang="scss" scoped>
    .secondary_text {
        display:inline-block;
        .button:not(.is-disabled) {
            color: $bg-blue;
            border-color: $bg-grey-dark;
            background:$bg-grey-dark;
            height: 36px;
            padding: 8px 16px;
            font-size: 14px;
            line-height: 20px;

            &:hover,
            &:active,
            &:focus {
                border-color: $bg-grey-dark;
            }
            &:hover {
                box-shadow: 0 0 10px 1px rgba(0,0,0, .12);
            }
            &:focus {
                border: solid 1px white;
                box-shadow: 0px 0px 0px 2px $outline-primary;
            }
        }
        :deep(.is-disabled),
        :deep(.is-disabled):hover{
            @extend .bg-disabled, .border-disabled, .text-disabled;
            svg {
                @extend .icon-disabled;
            }
        }

        .icon{
            fill: white;
            &-left,
            &-right {
                width: 20px;
                height: 20px;
            }
            &-left {
                margin-right: 16px;
            }
            &-right {
                margin-left: 16px;
            }
            :deep(svg){
                width: 20px;
                height: 20px;
            }
        }
        :deep(.large) {
            font-size: 16px !important;
            height: 48px !important;
            .icon{
                &-left,
                &-right {
                    width: 24px;
                    height: 24px;
                }
                &-left {
                    margin-right: 12px;
                }
                &-right {
                    margin-left: 12px;
                }

                svg{
                    width: 24px;
                    height: 24px;
                }
            }
        }
        :deep(.small) {
            height: 32px !important;
            font-size: 12px !important;
            .icon{
                &-left,
                &-right {
                    width: 14px;
                    height: 17px;
                }
                &-left {
                    margin-right: 12px;
                }
                &-right {
                    margin-left: 12px;
                }

                svg{
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }

</style>