<template>
    <div class="default_input">
        <div class="title">{{ title }}</div>
        <el-input
            v-model="inputValue"
            class="w-50 m-2 custom_input"
            :class="[setCustomClass,checkInputStatus]"
            :placeholder="placeholder"
            :disabled="disabled"
            :type="type"
            :show-password="showPassword"
            :maxlength="maxlength"
            :show-word-limit="showWordLimit"
            :custom-ref="customRef"
            :size="size"
            @focus="setBoxShadow()"
            @blur="setBoxShadow()"
        />
        <div v-if="approved.useTips">
            <div v-if="approved.approveResult && tips.success" class="tips tips--success" :style="tipsCustomStyle">
                <SvgIcon type="mdi" :path="mdiCheck" />
                {{ tips.success }}
            </div>
            <div v-if="!approved.approveResult && tips.fail" class="tips tips--fail" :style="tipsCustomStyle">
                <SvgIcon type="mdi" :path="mdiClose" />
                {{ tips.fail }}
            </div>
        </div>
    </div>
</template>

<script setup>
    import { ref, watch } from 'vue'
    import SvgIcon from '@jamescoyle/vue-icon'
    //請參照 https://pictogrammers.com/library/mdi/  vue版帶入對應圖示名稱
    import { mdiCheck } from '@mdi/js'
    import { mdiClose } from '@mdi/js'

    const props = defineProps({
        modelValue:String,
        title: String,
        type: String,
        placeholder: [String,Number],
        maxlength: [Number,Boolean],
        disabled: Boolean,
        resetTrigger: Number,
        showWordLimit: Boolean,
        showPassword: Boolean,
        customClass: {type:String,default:''},
        tipsCustomStyle: String,
        size:String,
        approved: {type:Object,default:{'useTips':false,'approveResult':false}},
        tips:[String,Object],
        customRef: String,
    });

    //接受父組件預設值傳入
    const inputValue = ref('');
    inputValue.value = props.modelValue;

    //與父組件v-model綁定
    const emit = defineEmits(['update:modelValue']);
    watch(inputValue, ()=>{
        emit('update:modelValue',inputValue.value);
    });

    //組件初始化
    watch(() => props.resetTrigger, () => {
        inputValue.value = props.modelValue;
        checkInputStatus.value = '';
        setCustomClass.value = props.customClass;
    });

    //資料驗證
    const checkInputStatus = ref('');
    watch(()=> props.approved.approveResult, () => {
        checkInputStatus.value = props.approved.useTips && !props.approved.approveResult ? 'error' : ''; 
    });
    
    const setCustomClass = ref(props.customClass);
    const setBoxShadow = () => {
        if(setCustomClass.value.indexOf('el-is-focus') > -1){
            setCustomClass.value = setCustomClass.value.replace('el-is-focus','');
        }else{
            setCustomClass.value += 'el-is-focus';
        }
    };
    
    //因element-plus textarea組件無large size, 故需增加客製化size
    watch(()=> props.size, ()=>{
        document.querySelectorAll('.el-textarea__inner').forEach(x =>{
            x.style.fontSize = props.size == 'large' ? '16px' : '';
        });
    });


</script>


<style lang="scss" scoped>
    .default_input {
        .title {
            color: $outline-black;
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            font-family: 'Noto Sans TC';
            text-align: left;
            margin-bottom: 4px;
        }
        .custom_input {
            width: 300px;
            border-radius:4px;
            margin-bottom: 4px;
        }

        .custom_input > :deep(.el-input__wrapper){
            height:36px;
            font-size:14px;
            box-sizing:border-box;
        }

        .custom_input :deep(.el-input--large) > :deep(.el-input__wrapper){
            height:48px;
            font-size:20px;
            box-sizing:border-box;
        }

        .tips{
            font-size: 14px;
            display: flex;
            align-items: center;
            &--success {
                color: $text-green;
                >svg{
                    @extend .icon-success;
                }
            }
            &--fail {
                color: $outline-red;
                >svg {
                    @extend .icon--fail;
                }
            }
            > svg {
                margin-right: 8px;
            }
        }

        :deep(.el-input__wrapper){
            &:hover {
                box-shadow: 0 0 0 1px $outline-blue inset;
            }
        }

        :deep(.el-textarea__inner){
            &:hover {
                box-shadow: 0 0 0 1px $outline-blue inset;
            }
        }

        .error{
            :deep(.el-input__wrapper){
                box-shadow: 0 0 0 1px $outline-red inset;
            }
            :deep(.el-textarea__inner){
                box-shadow: 0 0 0 1px $outline-red inset;
            }
        }

        :deep(.el-input--large){
            .el-input__wrapper{
                height:48px;
                font-size:16px;
            }
        }

        .el-is-focus{
            box-shadow: 1px 1px 4px #eee;
        }
    }
</style>