<template>
    <div class="input_number">
        <el-input-number
            v-model="inputValue"
            :class="setCustomClass"
            :min="minValue"
            :max="maxValue"
            :disabled="disabled"
            @focus="setBoxShadow()"
            @blur="setBoxShadow()"
        />
    </div>
</template>

<script setup>
    import { ref, watch } from 'vue'

    const props = defineProps({
        modelValue: [String,Number],
        minValue: Number,
        maxValue: Number,
        disabled: Boolean,
        resetTrigger:Number,
        customClass: {type:String,default:''},
    });

    //接受父組件預設值傳入
    const inputValue = ref('');
    inputValue.value = props.modelValue;

    //與父組件v-model綁定
    const emit = defineEmits(['update:modelValue']);
    watch(inputValue, ()=>{
        emit('update:modelValue',inputValue.value);
    });

    //組件初始化
    watch(() => props.resetTrigger, () => {
        inputValue.value = props.modelValue;
        setCustomClass.value = props.customClass;
    });

    const setCustomClass = ref(props.customClass);
    const setBoxShadow = () => {
        if(setCustomClass.value.indexOf('el-is-focus') > -1){
            setCustomClass.value = setCustomClass.value.replace('el-is-focus','');
        }else{
            setCustomClass.value += 'el-is-focus';
        }
    };
    

</script>
<style lang="scss" scoped>
    .input_number :deep(.el-input-number){
        width:300px; //預設300px;
        border-radius: 5px;
    }
    .input_number :deep(.el-input){
        width:100%;
    }

    .input_number  :deep(.el-input__wrapper):hover{
        box-shadow: 0 0 0 1px $outline-blue inset;
    }

    .el-is-focus{
        box-shadow: 1px 1px 4px #eee;
    }

</style>