<template>
    <div class="input_number_no_btn">
        <el-input
            v-model="inputValue"
            :class="[setCustomClass]"
            :disabled="disabled"
            maxlength="1"
            @input="replaceNonNumeric"
            @focus="setBoxShadow()"
            @blur="setBoxShadow()"
        />
    </div>
</template>

<script setup>
    import { ref, watch  } from 'vue'

    const props = defineProps({
        modelValue: [String,Number],
        disabled: Boolean,
        resetTrigger:Number,
        customClass: {type:String,default:''},
    })

    //接受父組件預設值傳入
    const inputValue = ref('');
    inputValue.value = props.modelValue;

    //與父組件v-model綁定
    const emit = defineEmits(['update:modelValue']);
    watch(inputValue, ()=>{
        emit('update:modelValue',inputValue.value);
    });

    //組件初始化
    watch(() => props.resetTrigger, () => {
        inputValue.value = props.modelValue;
        setCustomClass.value = props.customClass;
    });

    //替換掉非數字
    function replaceNonNumeric() {
        inputValue.value = inputValue.value.replace(/\D/g, '');
    }

    const setCustomClass = ref(props.customClass);
    const setBoxShadow = () => {
        if(setCustomClass.value.indexOf('el-is-focus') > -1){
            setCustomClass.value = setCustomClass.value.replace('el-is-focus','');
        }else{
            setCustomClass.value += 'el-is-focus';
        }
    }
</script>


<style lang="scss" scoped>
    .input_number_no_btn{
        display:inline-block;

        :deep(.el-input){
            width:40px;
            height:36px;

            input{
                text-align:center;
            }

            .el-input__wrapper{
                font-size:14px;
                box-sizing:border-box;

                &:hover{
                    box-shadow: 0 0 0 1px $outline-blue inset;
                }
            }
        }

        .el-is-focus{
            box-shadow: 1px 1px 4px #eee;
        }
    }
</style>