<template>
    <div class="description_alert">
        <el-alert 
            :title="title" 
            :type="alertType" 
            :description="alertDescription"
            show-icon
        >
        </el-alert>
    </div>
</template>


<script setup>
    import { ref } from 'vue';
    const props = defineProps({
        title:String,
        alertType:{
            type:String,
            default:'success'
        },
        alertDescription:String
    });

</script>


<style lang="scss" scoped>
    .el-alert{
        max-width:460px;
        min-height:56px;
    }
</style>