<template>
    <div class="no_description_alert">
        <el-alert 
            :title="title" 
            :type="alertType" 
            show-icon>
        </el-alert>
    </div>
</template>


<script setup>
    import { ref } from 'vue';
    const props = defineProps({
        title:String,
        alertType:{
            type:String,
            default:'success'
        }
    });

</script>


<style lang="scss" scoped>
    .no_description_alert{
        .el-alert{
            max-width:460px;
            height:36px;
        }
    }
</style>