<template>    
    <el-row :gutter="20">
        <!--========== Description ==========-->
        <el-col :span="12">
            <h3>Description</h3>
            <Layout>
                <DescriptionAlert :title="alertMsg" :alertType="'success'" :alertDescription="'這裡顯示描述'"></DescriptionAlert>
            </Layout>
            <Layout>
                <DescriptionAlert :title="alertMsg" :alertType="'info'" :alertDescription="'這裡顯示描述'"></DescriptionAlert>
            </Layout>
            <Layout>
               <DescriptionAlert :title="alertMsg" :alertType="'warning'" :alertDescription="'這裡顯示描述'"></DescriptionAlert>
            </Layout>
            <Layout>
               <DescriptionAlert :title="alertMsg" :alertType="'error'" :alertDescription="'這裡顯示描述'"></DescriptionAlert>
            </Layout>
        </el-col>
        <!--========== No Description ==========-->
        <el-col :span="12">
            <h3>No Description</h3>
            <Layout>
                <NoDescriptionAlert :title="alertMsg" :alertType="'success'"></NoDescriptionAlert>
            </Layout>
            <Layout>
                <NoDescriptionAlert :title="alertMsg" :alertType="'info'"></NoDescriptionAlert>
            </Layout>
            <Layout>
               <NoDescriptionAlert :title="alertMsg" :alertType="'warning'"></NoDescriptionAlert>
            </Layout>
            <Layout>
               <NoDescriptionAlert :title="alertMsg" :alertType="'error'"></NoDescriptionAlert>
            </Layout>
        </el-col>
    </el-row>
</template>

<script setup>
    import {ref, reactive } from 'vue';
    import Layout from "./Layout.vue";
    import DescriptionAlert from '@/components/alert/descriptionAlert.vue';
    import NoDescriptionAlert from '@/components/alert/noDescriptionAlert.vue';
    // import SvgIcon from '@jamescoyle/vue-icon'
    // import { mdiDownload } from '@mdi/js'

    const alertMsg = '這裡顯示訊息';

</script>