<template>
    <el-row justify="end" class="mb-30">
        <el-col :span="6" class="text-right">
        <el-button type="primary" size="small" round @click="setSize('large')">大尺寸</el-button>
        <el-button type="warning" size="small" round @click="setSize('')">中尺寸</el-button>
        <el-button type="info" v-if="props.showSmall" size="small" round @click="setSize('small')">小尺寸</el-button>
        <el-switch 
            v-model="disabled"
            size="large"
            inline-prompt
            active-text="禁用"
            inactive-text="啟用"
            class="ml-12"
            style="--el-switch-on-color:#DC2626;--el-switch-off-color:#65A30D;"
        ></el-switch>
        </el-col>
    </el-row>
</template>


<script setup>
    import { ref, watch } from 'vue'

    const props = defineProps({
        modelValue:[String,Object],
        ComponentDisabled:Boolean,
        showSmall:Boolean,
    });

    //調整組件大小
    const componentSize = ref('');

    const emit = defineEmits(['update:modelValue','update:disabled']);

    const setSize = (size) => {
        componentSize.value = size;
        emit('update:modelValue',componentSize.value);
    }

    const disabled = ref(props.ComponentDisabled);

    watch(disabled, ()=>{
        emit('update:disabled',disabled.value);
    })

</script>