<template>
    <Controller v-model="size" v-model:disabled="ComponentDisabled" showSmall />
    
    <el-row :gutter="20">
        <el-col :span="6">
            <h3>Primary</h3>
            <!--========== Primary ==========-->
            <Layout>
                <primaryCircle
                    @click="clickBtn"
                    :buttonSize="size"
                    :disabled="ComponentDisabled"
                >
                    <template #icon>
                        <SvgIcon type="mdi" :path="mdiDownload" />
                    </template>
                </primaryCircle>
            </Layout>
        </el-col>
        <el-col :span="6">
            <h3>Secondary</h3>
            <!--========== Secondary ==========-->
            <Layout>
                <SecondaryCircle
                    @click="clickBtn"
                    :buttonSize="size"
                    :disabled="ComponentDisabled"
                >
                    <template #icon>
                        <SvgIcon type="mdi" :path="mdiDownload" />
                    </template>
                </SecondaryCircle>
            </Layout>
        </el-col>
        <el-col :span="6">
            <h3>BareCircle</h3>
            <!--========== BareCircle ==========-->
            <Layout>
                <BareCircle
                    @click="clickBtn"
                    :buttonSize="size"
                    :disabled="ComponentDisabled"
                >
                    <template #icon>
                        <SvgIcon type="mdi" :path="mdiDownload" />
                    </template>
                </BareCircle>
            </Layout>
        </el-col>
        <el-col :span="6">
            <h3>Outline</h3>
            <!--========== Outline ==========-->
            <Layout>
                <OutlineCircle
                    @click="clickBtn"
                    :buttonSize="size"
                    :disabled="ComponentDisabled"
                >
                    <template #icon>
                        <SvgIcon type="mdi" :path="mdiDownload" />
                    </template>
                </OutlineCircle>
            </Layout>
        </el-col>
    </el-row>
</template>

<script setup>
    import {ref, reactive } from 'vue';
    import Layout from "./Layout.vue";
    import SvgIcon from '@jamescoyle/vue-icon'
    import { mdiDownload } from '@mdi/js'
    import Controller from './controller.vue';
    import primaryCircle from "./button/primaryCircle.vue";
    import SecondaryCircle from "./button/secondaryCircle.vue";
    import OutlineCircle from "./button/outlineCircle.vue";
    import BareCircle from "./button/bareCircle.vue";

    //調整組件大小
    const size = ref('');

    //調整組件是否禁用
    const ComponentDisabled = ref(false); 

    const clickBtn = () => {
        alert('點擊按鈕');
    }
</script>