<template>
  <Controller v-model="size" v-model:disabled="ComponentDisabled" />

  <el-row :gutter="20">
    <!--========== 一般輸入框 ==========-->
    <el-col :span="6">
      <Layout>
        <DefaultInput
          v-model="defaultInputValue"
          :title="'一般輸入框'"
          :placeholder="'請輸入關鍵字'"
          :resetTrigger="defaultResetTrigger"
          :disabled="ComponentDisabled"
          :size="size"
        ></DefaultInput>
      </Layout>
    </el-col>
    <!--========== 驗證輸入框 ===========-->
    <el-col :span="6">
      <Layout>
        <DefaultInput
          v-model="approvedInputValue"
          :title="'驗證功能輸入框'"
          :placeholder="'請輸入數字'"
          :approved="defaultApproved"
          :tips="defaultInputTips"
          :resetTrigger="defaultResetTrigger"
          :disabled="ComponentDisabled"
          :size="size"
        ></DefaultInput>
      </Layout>
    </el-col>
    <!--======== 不顯示密碼輸入框 ========-->
    <el-col :span="6">
      <Layout>
        <DefaultInput
          v-model="defaultInputValue"
          :title="'密碼輸入框(不顯示密碼)'"
          :placeholder="'請輸入8~20碼英數字元'"
          :type="'password'"
          :resetTrigger="defaultResetTrigger"
          :disabled="ComponentDisabled"
          :size="size"
        ></DefaultInput>
      </Layout>
    </el-col>
    <!--======== 可顯示密碼輸入框 ========-->
    <el-col :span="6">
      <Layout>
        <DefaultInput
          v-model="defaultInputValue"
          :title="'密碼輸入框(可顯示密碼)'"
          :placeholder="'請輸入8~20碼英數字元'"
          :type="'password'"
          :resetTrigger="defaultResetTrigger"
          :show-password="true"
          :disabled="ComponentDisabled"
          :size="size"
        ></DefaultInput>
      </Layout>
    </el-col>
    <!--========= 限制字數輸入框 =========-->
    <el-col :span="6">
      <Layout>
        <DefaultInput
          v-model="defaultInputValue"
          :title="'顯示限制字數輸入框'"
          :placeholder="'請輸入最多20字元'"
          :maxlength="20"
          :show-word-limit="true"
          :resetTrigger="defaultResetTrigger"
          :disabled="ComponentDisabled"
          :size="size"
        ></DefaultInput>
      </Layout>
    </el-col>
    <!--====== 文本輸入框(不限制字數) =====-->
    <el-col :span="6">
      <Layout>
        <DefaultInput
          v-model="defaultInputValue"
          :title="'文本輸入框(不限制字數)'"
          :type="'textarea'"
          :placeholder="'請輸入內容'"
          :resetTrigger="defaultResetTrigger"
          :disabled="ComponentDisabled"
        ></DefaultInput>
      </Layout>
    </el-col>
    <!--======= 文本輸入框(限制字數) ======-->
    <el-col :span="6">
      <Layout>
        <DefaultInput
          v-model="defaultInputValue"
          :title="'文本輸入框'"
          :type="'textarea'"
          :placeholder="'請輸入最多50字元'"
          :maxlength="50"
          :show-word-limit="true"
          :resetTrigger="defaultResetTrigger"
          :disabled="ComponentDisabled"
        ></DefaultInput>
      </Layout>
    </el-col>
    <!--====== 文本輸入框(含驗證功能) =====-->
    <el-col :span="6">
      <Layout>
        <DefaultInput
          v-model="approvedInputValue"
          :title="'文本輸入框(含驗證功能)'"
          :type="'textarea'"
          :placeholder="'請輸入最多50字數字'"
          :maxlength="50"
          :show-word-limit="true"
          :approved="defaultApproved"
          :tips="defaultInputTips"
          :resetTrigger="defaultResetTrigger"
          :disabled="ComponentDisabled"
        ></DefaultInput>
      </Layout>
    </el-col>
    <!--====== 數字輸入框(含加減按鈕) =====-->
    <el-col :span="6">
      <Layout>
        <InputNumber
            v-model="inputNumberValue"
            :minValue="0"
            :maxValue="20"
            :resetTrigger="defaultResetTrigger"
            :class="'w-200'"
            :disabled="ComponentDisabled"
          ></InputNumber>
      </Layout>
    </el-col>
    <!--====== 數字輸入框(不含加減按鈕) =====-->
    <el-col :span="6">
      <Layout>
        <InputNumberNoBtn 
          v-model="inputNumberNoBtnValue"
          :resetTrigger="defaultResetTrigger"
          :class="'input_number_no_btn'"
          :disabled="ComponentDisabled"
        >
        </InputNumberNoBtn>
      </Layout>
    </el-col>
  </el-row>
</template>

<script setup>
  import { reactive, ref, watch } from 'vue'
  import Layout from './Layout.vue';
  import Controller from './controller.vue';
  import DefaultInput from './inputs/defaultInput.vue';
  import InputNumber from './inputs/inputNumber.vue';
  import InputNumberNoBtn from './inputs/inputNumberNoBtn.vue';

  const defaultResetTrigger = ref(0);

  //Normal Input
  const defaultInputValue = ref('');

  //Approve Input
  const approvedInputValue = ref('');

  const defaultApproved = reactive({
    useTips:false,
    approveResult:true
  });

  const defaultInputTips = reactive({
    success: '檢查成功',
    fail: '檢查失敗'
  });

  //Approve Input example
  watch(approvedInputValue, ()=>{
      if(approvedInputValue.value){
        const pattern = /^[0-9]+$/;
        let ifPass = pattern.test(approvedInputValue.value);
        defaultApproved.useTips = true;
        defaultApproved.approveResult = ifPass;
      }else{
        defaultApproved.useTips =false;
        defaultApproved.approveResult = true;
      }
  });

  //Password Input
  const passWordValue = ref('');

  //TextArea input
  const textAreaValue = ref('')
  const resetTextAreaTrigger = ref(0)
  const textAreaApproved = ref(true)
  const textAreaTips = reactive({
    success: 'TextArea可以註冊使用',
    fail: 'TextArea錯誤格式提示'
  })

  //check TextArea example
  watch(textAreaValue, ()=>{
    const pattern = /^[0-9]+$/;
    let ifPass = pattern.test(textAreaValue.value)
    textAreaApproved.value = ifPass
  })

  //InputNumber
  const inputNumberValue = ref(0);

  //InputNumberNoBtn
  const inputNumberNoBtnValue = ref(0);

  //調整組件大小
  const size = ref('');

  //調整組件是否禁用
  const ComponentDisabled = ref(false); 

</script>


<style>
  .w-200{
    width:200px !important;
  }

  .mb-30{
    margin-bottom:30px;
  }

  .ml-12{
    margin-left:12px;
  }
</style>