<template>
    <Controller v-model="size" v-model:disabled="ComponentDisabled" showSmall />

    <el-row :gutter="20">
        <!--========== Primary ==========-->
        <el-col :span="6">
            <Layout>
                <PrimaryButton
                    @click="clickBtn"
                    :title="'Button'"
                    :buttonSize="size"
                    :disabled="ComponentDisabled"
                ></PrimaryButton>
            </Layout>
        </el-col>
        <!--====== Primary (右icon) =====-->
        <el-col :span="6">
            <Layout>
                <PrimaryButton
                    @click="clickBtn"
                    :title="'Button'"
                    :buttonSize="size"
                    :disabled="ComponentDisabled"
                >
                    <template #right>
                        <SvgIcon type="mdi" :path="mdiDownload" />
                    </template>
                </PrimaryButton>
            </Layout>
        </el-col>
        <!--===== Primary (左icon) ======-->
        <el-col :span="6">
            <Layout>
                <PrimaryButton
                    @click="clickBtn"
                    :title="'Button'"
                    :buttonSize="size"
                    :disabled="ComponentDisabled"
                >
                    <template #left>
                        <SvgIcon type="mdi" :path="mdiDownload" />
                    </template>
                </PrimaryButton>
            </Layout>
        </el-col>
    </el-row>
    <el-row :gutter="20">
        <!--======= Secondary =========-->
        <el-col :span="6">
            <Layout>
                <SecondaryButton
                    @click="clickBtn"
                    :title="'Button'"
                    :buttonSize="size"
                    :disabled="ComponentDisabled"
                ></SecondaryButton>
            </Layout>
        </el-col>
        <!--===== Secondary (右icon) =====-->
        <el-col :span="6">
            <Layout>
                <SecondaryButton
                    @click="clickBtn"
                    :title="'Button'"
                    :buttonSize="size"
                    :disabled="ComponentDisabled"
                >
                    <template #right>
                        <SvgIcon type="mdi" :path="mdiDownload" />
                    </template>
                </SecondaryButton>
            </Layout>
        </el-col>
        <!--===== Secondary (左icon) ======-->
        <el-col :span="6">
            <Layout>
                <SecondaryButton
                    @click="clickBtn"
                    :title="'Button'"
                    :buttonSize="size"
                    :disabled="ComponentDisabled"
                >
                    <template #left>
                        <SvgIcon type="mdi" :path="mdiDownload" />
                    </template>
                </SecondaryButton>
            </Layout>
        </el-col>
    </el-row>
    <el-row :gutter="20">
        <!--======= Outline =========-->
        <el-col :span="6">
            <Layout>
                <OutlineButton
                    @click="clickBtn"
                    :title="'Button'"
                    :buttonSize="size"
                    :disabled="ComponentDisabled"
                ></OutlineButton>
            </Layout>
        </el-col>
        <!--===== Outline (右icon) =====-->
        <el-col :span="6">
            <Layout>
                <OutlineButton
                    @click="clickBtn"
                    :title="'Button'"
                    :buttonSize="size"
                    :disabled="ComponentDisabled"
                >
                    <template #right>
                        <SvgIcon type="mdi" :path="mdiDownload" />
                    </template>
                </OutlineButton>
            </Layout>
        </el-col>
        <!--===== Outline (左icon) ======-->
        <el-col :span="6">
            <Layout>
                <OutlineButton
                    @click="clickBtn"
                    :title="'Button'"
                    :buttonSize="size"
                    :disabled="ComponentDisabled"
                >
                    <template #left>
                        <SvgIcon type="mdi" :path="mdiDownload" />
                    </template>
                </OutlineButton>
            </Layout>
        </el-col>
    </el-row>
    <el-row :gutter="20">
        <!--===== Text ======-->
        <el-col :span="6">
            <Layout>
                <TextButton
                    @click="clickBtn"
                    :title="'Button'"
                    :buttonSize="size"
                    :disabled="ComponentDisabled"
                >
                </TextButton>
            </Layout>
        </el-col>
        <!--===== Text (右icon) =====-->
        <el-col :span="6">
            <Layout>
                <TextButton
                    @click="clickBtn"
                    :title="'Button'"
                    :buttonSize="size"
                    :disabled="ComponentDisabled"
                >
                    <template #right>
                        <SvgIcon type="mdi" :path="mdiDownload" />
                    </template>
                </TextButton>
            </Layout>
        </el-col>
        <!--===== Text (左icon) =====-->
        <el-col :span="6">
            <Layout>
                <TextButton
                    @click="clickBtn"
                    :title="'Button'"
                    :buttonSize="size"
                    :disabled="ComponentDisabled"
                >
                    <template #left>
                        <SvgIcon type="mdi" :path="mdiDownload" />
                    </template>
                </TextButton>
            </Layout>
        </el-col>
    </el-row>
    <el-row :gutter="20">
        <!--===== link ======-->
        <el-col :span="6">
            <Layout>
                <LinkButton
                    @click="clickBtn"
                    :title="'Button'"
                    :buttonSize="size"
                    :disabled="ComponentDisabled"
                >
                </LinkButton>
            </Layout>
        </el-col>
        <!--===== link (右icon) ======-->
        <el-col :span="6">
            <Layout>
                <LinkButton
                    @click="clickBtn"
                    :title="'Button'"
                    :buttonSize="size"
                    :disabled="ComponentDisabled"
                >
                    <template #right>
                        <SvgIcon type="mdi" :path="mdiDownload" /> 
                    </template>
                </LinkButton>
            </Layout>
        </el-col>
        <!--===== link (左icon) ======-->
        <el-col :span="6">
            <Layout>
                <LinkButton
                    @click="clickBtn"
                    :title="'Button'"
                    :buttonSize="size"
                    :disabled="ComponentDisabled"
                >
                    <template #left>
                        <SvgIcon type="mdi" :path="mdiDownload" /> 
                    </template>
                </LinkButton>
            </Layout>
        </el-col>
    </el-row>
</template>

<script setup>
    import {ref, reactive } from 'vue';
    import Layout from "./Layout.vue";
    import Controller from './controller.vue';
    import SvgIcon from '@jamescoyle/vue-icon'
    import { mdiDownload } from '@mdi/js'
    import PrimaryButton from "./button/primaryText.vue";
    import SecondaryButton from "./button/secondaryText.vue";
    import OutlineButton from "./button/outlineText.vue";
    import TextButton from "./button/text.vue";
    import LinkButton from "./button/linkText.vue";

    const clickBtn = () => {
        alert('點擊按鈕');
    }

    //調整組件大小
    const size = ref('');

    //調整組件是否禁用
    const ComponentDisabled = ref(false); 
    
</script>