<template>
  <div class="text-center">
    <a href="https://vitejs.dev" target="_blank">
      <img src="/vite.svg" :class="AppStyle.logo" alt="Vite logo" />
    </a>
    <a href="https://vuejs.org/" target="_blank">
      <img src="./assets/vue.svg" :class="[AppStyle.logo, AppStyle.vue]" alt="Vue logo" />
    </a>
    <h1 class="">Vue+Vite+Element Plus Component Library</h1>
  </div>
 
  <h2 class="text-center text-blue">Input</h2>
  <Input />
  <hr>

  <h2 class="text-center text-blue">Text Button</h2>
  <TextButton />
  <hr>

  <h2 class="text-center text-blue">Icon Button</h2>
  <IconButton />
  <hr>

  <h2 class="text-center text-blue">Alert</h2>
  <Alert />
  <hr>

</template>

<script setup>
  import { reactive, ref, watch } from 'vue'
  import AppStyle from './assets/style/components/App.module.scss'
  import Input from './components/Input.vue';
  import TextButton from './components/textButton.vue';
  import IconButton from './components/iconButton.vue';
  import Alert from './components/alert.vue';
 
</script>
